*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    border: solid 1px black;
}

/* ---------------------------------
palette
--------------------------------- */
:root {
	--color-primary: #9792e4;
	--color-secondary: #0084fd;
	--color-secondary-bg: #b5ddff;
	--color-text-01: #fdc15f;
	--color-neutral-white: #ffffff;
	--color-neutral-darker: #333333;
	--color-neutral-black: #000000;
}


/* ---------------------------------
variables
--------------------------------- */
:root 
{
    --nav-height: 80px;
}



/* ---------------------------------
utility
--------------------------------- */



/* ---------------------------------
flex
--------------------------------- */
.d-flex
{
    display: flex;
}

.j-c-s-between
{
    justify-content: space-between;
}
.a-i-center
{
    align-items: center;
}


/* ---------------------------------
general
--------------------------------- */
.container
{
    width: 100%;
    padding: 0 30px;
}

.icons-md
{
    font-size: 25px;
}


/* ---------------------------------
navigation bar
--------------------------------- */
nav>.container
{
    background-color: var(--color-secondary);
    height: var(--nav-height);
    color: var(--color-neutral-white);
}


/* ---------------------------------
main
--------------------------------- */
main>section:nth-child(even)
{
    background-color: var(--color-primary);
}

main>section
{
    height: 200px;
}


/* ---------------------------------
footer
--------------------------------- */
footer
{
    height: 200px;
    background-color: var(--color-neutral-darker);
}